*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

ul, li{
	margin: 0;
	padding: 0;
}

body{
    background-color: #EAEAEA;
	font-size: 1.5rem;
	width: 100%;
	margin: 0;
}


/*************************************************************************/
/***********************version mobile************************************/
/*************************************************************************/

header, footer{
    text-align: center;
}
header a{
    color: black;
    text-decoration: none;
}
header a h1{
    font-family: 'Pacifico', cursive;
}

nav ul{
    display: flex;
    flex-direction: column;
}

nav li{
    background-color: black;
    padding: 1rem;
    width: 150px;
    margin: auto;
    margin-bottom: 1rem;
    list-style-type: none;
}

nav li a{
    color: blanchedalmond;
    text-decoration: none;
}

img{
    max-width: 100%;
    height: 200px;
}

#listesL, #detailsLivres{
    text-align: center;
}

#listesL section, #detailsLivres section{
    background-color: #ffffff;
    opacity: 0.8;
    width: 95%;
    margin: 1rem auto;
    padding: 1rem;
}

#nouveauL, #acceuil{
    background-color: #fff;
    opacity: 0.9;
    padding: 1em;
    margin: 0.5em;
}

h2{
    font-family: 'Pacifico', cursive;
    text-align: center;
}

#nouveauL li{
    list-style-type: none;
    padding: 0.5em;
}

#nouveauL input, #nouveauL select{
    border: 1px solid black;
    border-style: inset;
    border-radius: 5px;
}

.boutton{
    text-align: center;
}

body > main >  #nouveauL > form > fieldset > ul > li.boutton > button.buttonSubmit{
    background-color: green;
    color: #EAEAEA;
    border-radius: 10px;
    padding: 1em;
}

body > main > #nouveauL > form > fieldset > ul > li.boutton > a.buttonEffacer{
    text-decoration: none;
    background-color: red;
    color: #EAEAEA;
    border-radius: 10px;
    padding: 0.6em;
}

.flexHeader img{
    max-width: 100px;
    height: auto;
}

.footer{
    /* /*text-align: center; */
    color: #EAEAEA;
    width: 100%;
    height: 200px;
    background-color: #666666;
    padding:5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#livreAuteur > form > fieldset{
    background-color: black;
    color: blanchedalmond;
    padding: 1em;
    text-align: right;
}
#livreAuteur > form > fieldset p{
    display: inline-block;
}
#livreAuteur > form > fieldset input{
    height: 40px;
}
#livreAuteur > form > fieldset p button{
    color: black;
    padding: 1em;
    height: 40px;
    background-color: #E26B01;
}



/*************************************************************************/
/***********************version tablette**********************************/
/*************************************************************************/

@media screen and (min-width:600px){
    nav ul{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #listesL section, #detailsLivres section{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        width: 70%;
    }

    #listesL .detailsL, #detailsLivres .detailsL{
        margin: 1rem;
    }

    h2{
        font-size: 2em;
    }

    #nouveauL, #acceuil{
        width: 70%;
        margin: auto;
        margin-bottom: 1em;
    }

    .flexHeader img{
        max-width: 200px;
        height: auto;
    }

    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 2rem;
        font-size: 1em;
        align-items: center;
    }

    #livreAuteur > form > fieldset input{
        width: 200px;
    }
}

/*************************************************************************/
/***********************version desktop***********************************/
/*************************************************************************/

@media screen and (min-width:1024px){
    header a h1{
        font-size: 4em;
    }
    nav ul{
        display: flex;
        justify-content: flex-end;
    }

    footer nav ul{
        display: flex;
        justify-content: flex-start;
    }

    nav li{
        margin: 1rem 1rem;
        
    }

    #listesL section, #detailsLivres section{
        display: flex;
        justify-content: space-around;
        width: 90%;
    }

    h2{
        font-size: 3em;
    }

    #nouveauL{
        text-align: center;
        width: 60%;
        margin: auto;
        margin-bottom: 1em;
    }

    #acceuil{
        text-align: center;
        width: 90%;
        margin: auto;
    }

    .flexHeader{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .flexHeader img{
        max-width: 100%;
        height: auto;
    }

    .footer{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 1rem;
        font-size: 1em;
    }

    #livreAuteur > form > fieldset input{
        width: 300px;
    }
}